.example-card {
    max-width: 400px;
    width: 35%;
    margin: 0;
    margin-top: 50px;
    margin-left: 450px;
    padding: 40px;
    position: absolute;
    box-shadow: 5px 5px 5px 5px lightslategray;
  }

  .title{
    text-align: center;
    background-color: blue;
    color: white;
  }
  
  .back{
    padding: 0px; 
    margin-top: 0px;
    margin-left: 300px;
    

}