<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem; background-color:white; color: black;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-black-50 mb-5">Please enter your login and password!</p>
               <form  [formGroup] = "loginForm" >
              <div class="form-outline form-black mb-4">
                <label class="form-label" for="typeEmailX">Email</label>
                <input type="email" formControlName="email" id="typeEmailX" class="form-control form-control-lg" />
                <span *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email']?.touched" class="alert alert-danger">
                  Please Enter Your Email
                </span>
              </div>
              <div class="form-outline form-black mb-4">
                <label class="form-label" for="typePasswordX">Password</label>
                <input type="password" formControlName="password" id="typePasswordX" class="form-control form-control-lg" />
                <span *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password']?.touched" class="alert alert-danger">
                  Please Enter Your Password 
                </span>
              </div>
              
              <div class="form-outline form-black mb-4">
                <label class="form-label" for="typePasswordX">Mobile Number</label>
                <input formControlName="mobileNo" id="typenumberX"
                 class="form-control form-control-lg"   (keypress)="numberOnly($event)" type="text" required minlength="5" maxlength="10" size="10"/>
                <span *ngIf="!loginForm.controls['mobileNo'].valid && loginForm.controls['mobileNo']?.touched" class="alert alert-danger">
                  Please Enter Your Mobile number
                </span>
              </div>

              <div class="form-outline form-black mb-4">
                <label class="form-label" for="typePasswordX">Client Dp ID</label>
                <input formControlName="clientdpid" id="typenumberX" 
                 class="form-control form-control-lg" value={{displayval}} [(ngModel)]="data"  (change)="onInput($event)" type="text" required minlength="8" maxlength="8" size="8"/>
                <span *ngIf="!loginForm.controls['clientdpid'].valid && loginForm.controls['clientdpid']?.touched" class="alert alert-danger">
                  Please Enter Your Client Dp ID
                </span>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-primary" [disabled]="!loginForm.valid" (click)="submitFormData()" type="submit">Login</button>
               </form>
              
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-black">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>