<!--<h1>{{title | uppercase}} is Working!!!</h1>
<h1>{{capstring(title)}} is Working!!!</h1>
<h1>{{title | lowercase}} is Working!!!</h1>
<h1>{{title}} is Working!!!</h1>
<h1>{{today | date :'fullDate'}}</h1>

<button (click)="btn()">Click me</button>

<div *ngIf="stmt1">ngIf is working in HTML</div>

<p [ngStyle]="{'color':'red'}">-Component Directive</p>
<p [ngStyle]="{'color':'green'}">-Structure Directive</p>
<P [ngStyle]="{'color':'blue'}">-Attribute Directive</P>-->


<router-outlet></router-outlet>
